<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand" href="#">Water Intake Tracker</a>

    <a class="nav-link nav-link-spacing" href="{% url 'home' %}">Home</a>
    <a class="nav-link nav-link-spacing" href="{% url 'signup' %}">SignUp</a>
    <a class="nav-link nav-link-spacing" href="{% url 'login' %}">LogIn</a>
    <a class="nav-link nav-link-spacing" href="{% url 'add_intake' %}">Add Intake</a>
    <a class="nav-link nav-link-spacing" href="{% url 'view_intakes' %}">View Intakes</a>
    <a class="nav-link nav-link-spacing" href="{% url 'list_intakes' %}">List Intakes</a>
    <a class="nav-link nav-link-spacing" href="{% url 'find_difference' %}">Find Difference</a>
    <a class="nav-link nav-link-spacing" href="{% url 'logout' %}">LogOut</a>
</nav>